# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Env / secrets
.env
*.pem
*.p12

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
logs/

# Testcontainers
.cache/
